body{
    background-color: #D5E1EF;
    font-family: sans-serif;
    text-align: center;
}

.card{
    position: fixed;
    margin: auto;
    inset: 0;
    padding: 1rem;
    padding-bottom: 2rem;
    border-radius: 16px;
    height: 470px;
    width: 100%;
    max-width: 302px;
    background-color: white;
    box-shadow:0px 10px 20px 0px rgba(0, 0, 0, 0.1)
}

img{
    border-radius: 10px;
    width: 100%;
}

h3{
    color: #1f3251;
}

p{
    color:  hsl(220, 15%, 55%);
}